In [155]:
import pandas as pd

In [156]:
df = pd.read_csv("31_12_2022 18_54_43.csv")
df.head()

,status,ch0,ch1,ch2,ch3,ch4,ch5,ch6,ch7
0,0,-4706841,-4684054,-4986550,-4625892,-4642679,-4412596,-4411930,-1034406
1,0,-4711751,-4685896,-4988769,-4630785,-4644584,-4414128,-4413534,-1023558
2,0,-4688819,-4660609,-4980411,-4616077,-4647438,-4415817,-4419768,-1012143
3,0,-4670151,-4643576,-4973171,-4602213,-4647135,-4415232,-4421739,-1016222
4,0,-4681622,-4658329,-4977268,-4608667,-4644397,-4413576,-4417086,-1032337

In [157]:
#df.columns = ['status', 'ch0', 'ch1', 'ch2', 'ch3',
#       'ch4', 'ch5', 'ch6', 'ch7','mm']
df.keys()

Index(['status', ' ch0', ' ch1', ' ch2', ' ch3', ' ch4', ' ch5', ' ch6',
       ' ch7 '],
      dtype='object')

In [158]:
df.head()

,status,ch0,ch1,ch2,ch3,ch4,ch5,ch6,ch7
0,0,-4706841,-4684054,-4986550,-4625892,-4642679,-4412596,-4411930,-1034406
1,0,-4711751,-4685896,-4988769,-4630785,-4644584,-4414128,-4413534,-1023558
2,0,-4688819,-4660609,-4980411,-4616077,-4647438,-4415817,-4419768,-1012143
3,0,-4670151,-4643576,-4973171,-4602213,-4647135,-4415232,-4421739,-1016222
4,0,-4681622,-4658329,-4977268,-4608667,-4644397,-4413576,-4417086,-1032337

In [159]:
#tem = df['ch1'].str.split('[', n= 1 , expand= True)
#df['ch1'] = tem[1]

#tem2 = df['ch8'].str.split(']', n=1 ,expand= True)
#df['ch8'] =  tem2[0]

In [160]:
df.keys()

Index(['status', ' ch0', ' ch1', ' ch2', ' ch3', ' ch4', ' ch5', ' ch6',
       ' ch7 '],
      dtype='object')

# zero row remove

In [161]:
df.replace(to_replace='0', method= 'ffill', inplace=True)

In [162]:
def data_seperator(direction ):
    Data_file = []
    tem = []
    first = 0
    last = 0
    i = 0
    while i < (len(df)):

        if df['status'][i] == direction:
            first = i
            while (i < len(df)) and  (df['status'][i] == direction) :
                i += 1
            last = i
            Data_file.append(df[:][first:last]) 
            # print(first)
        i += 1 
    return Data_file

In [163]:
def test_size():
    for y in range(-1,7):
        print('*class',y,end=': ')
        x = data_seperator(y)
        for i in range(len(x)):
            print(len(x[i]),end=', ')

        print()
        print()
        print()

In [164]:
test_size()

*class -1: 601, 714, 601, 695, 601, 601, 601, 602, 601, 602, 658, 602, 721, 602, 601, 602, 601, 602, 601, 635,


*class 0: 189, 120, 128, 120, 121, 120, 121, 120, 120, 141, 120, 183, 120, 120, 120, 120, 120, 121, 120, 121, 193,


*class 1: 166, 120, 120, 120, 120, 120, 120, 120, 120, 168, 120, 121, 120, 121, 120, 121, 120, 120, 148, 120, 14,


*class 2: 241, 241, 241, 266, 241, 298, 241, 240, 241, 240, 241, 240, 241, 240, 350, 240, 240, 240, 240, 240,


*class 3: 607, 601, 722, 653, 601, 601,


*class 4: 601, 601, 601, 601, 601, 722,


*class 5: 601, 612, 601, 694,


*class 6: 602, 664, 601, 601,

In [165]:
#import sys
#sys.exit()

In [166]:
x = data_seperator(0)
for i in range(len(x)):
    print(len(x[i]),end=', ')

189, 120, 128, 120, 121, 120, 121, 120, 120, 141, 120, 183, 120, 120, 120, 120, 120, 121, 120, 121, 193,

In [167]:
x = data_seperator(5)
for i in range(len(x)):
    print(len(x[i]),end=', ')

601, 612, 601, 694,

In [168]:
tem = []
tem.append(df['label'])

KeyError: 'label'

In [ ]:
tem.append(df['ch1'][:100])

In [ ]:
print(tem[0])

0        0
1        0
2        0
3        0
4        0
        ..
22242   -1
22243   -1
22244   -1
22245   -1
22246   -1
Name: label, Length: 22247, dtype: int64